* {
  box-sizing: border-box;
}
a:visited {
  color: black;
}
a:hover {
  color: brown;
}
.border:hover {
  background-color: black;
  color: white;
}
.box1{
    width: 100%;
	text-align: center;
}
.box2{
  width: 100%;
}
.box3{
  cursor:pointer;
   font-family:"Brush Script MT";
    font-size: 25px;
   padding-left: 3px;
   padding-right: 3px;
   padding-top: 20px;
   padding-bottom: 20px;
    text-align: center;
	color :brown; 
	width:16.66%;
   float :left;

}

.box4{
  float: left;
  width: 100%;
}
.box5{
  float: left;
  padding-top: 30px;
  width: 50%;
}

.box6{
  float: left;
  width:50%;
}
h1{
  text-align: center;
  color:#bf4040;
}
p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  text-align: center;
    white-space: pre-wrap;
}
.para{
 font-family: "Comic Sans MS", cursive, sans-serif;
}
.box7{
  padding-left: 100px;
  padding-right: 100px;
float: left;
 width: 100%;
}
.box8{
 float: left;
  width: 100%;
}
.box9{
  padding-top:10px;
   float: left;
  width:100%;
}
.input1{
  float: left;
  width:50%;
}
.box10{
  float: left;
width: 100%;
}
.sub-10{
  float: left;
  width: 50%;
}
.box11{
  padding-top:20px;
  float: left;
 width: 100%;
}
.box12{
  padding-top:10px;
 float: left;
 width: 100%;  
}
.box13{
  padding-top:20px;
  float: left;
 width: 100%;
}
.box14{
  padding-top:10px;
 float: left;
 width: 100%; 
}
.box15{
  padding-top:20px;
  float: left;
 width: 100%;
}
.box16{
  padding-top:10px;
 float: left;
 width: 100%; 
}
.box16{
  padding-top: 10px;
 float: left;
 width: 100%;
}
.submit{
  font-size: 20px;
   font-family:"Brush Script MT";
  background-color: #df9f9f;
   border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}
.last{
   float: left;
  width: 100%
}
.border{
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 2px solid black;
}
.contact{
  float: left;
  font-size: 25px;
  cursor:pointer;
   font-family:"Brush Script MT";
  float: left;
  padding-left: 550px;
  padding-right: 550px;
  padding-top: 30px;
  padding-bottom: 30px;
   width: 100%;
  text-align: center;
  background-color:  #df9f9f;
  color:white;
  font-style: bold;
}
.end-menu1{
  float: left;
  padding-top: 40px;
  color:white;
  font-style: bold;
  width:100%;
  text-align: center;
  background-color: #cc6666;
}
.end-menu2{
  padding-top: 30px;
  padding-left: 140px;
    padding-right: 30px;
  display: table;
  width: 100%;
  background-color: #cc6666;
}
.endimage{
  
  float: left;
  width:25%;
}
.content{
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  width: 100%;
  background-color: #cc6666;
}
.content1 {
  padding-left: 50px;
  padding-right: 20px;
   float: left;
   width: 33.33%;
   color:white;
}

.end-menu3{
  text-align: right;
    white-space: pre-wrap;
    padding-right: 150px;
  width: 100%;
  background-color: #cc6666;
}